* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

.body {
  font-size: 2rem;
  background-color: rgb(218, 218, 218);
}

a {
  text-decoration: none;

}

li {
  list-style: none;
}

.container {
  background-color: white;
  border: 2px solid #ccc;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 40px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav {
  // color: black;
  // font-size: 2rem;
}

.header__nav__ul {
  // width: 30%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.header__cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart__icon {
  width: 50px;
}

// .cart__description {
//   text-align: center;
// }

.search-section__search-input {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('./assets/searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

.select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1.5rem;
}
//------------------------------------------------
// .filters-wrapper {

// }

.filter_category-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 3px auto;
}

.filter_category__checkbox-wrapper {
  width: 33%;
}

.filter_category__checkbox {
  display: block;
  box-sizing: border-box;
  padding: 4px;
  // font-size: 2rem;
  min-width: 12px;
  min-height: 12px;
  transition: all 0.2s;
  cursor: pointer;
  text-decoration: none;
  
}

.filter_category__checkbox_input {
  position: absolute;
  visibility: hidden;
}

.filter_category__checkbox_input:checked~.filter_category__checkbox {
  text-decoration: underline;
}

.filters-section-button {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 50px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: white;
  // color: white;
  font-size: 1.5rem;
  &:hover {
    cursor: pointer;
    background-color: #ccc;
  }
  &:active {
    background-color: rgb(63, 63, 63);
  }
}
//------------------------------------------------
.cards-wrapper {
  width: 1000px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  width: 20%;
  height: 500px;
  background-color: brown;
  .card_title {
    height: 70px;
  }
  .card_img {
    width: 100%;
  }
}

.filter-type {
  width: 300px;
  margin: 50px auto;
  li {
    list-style: none;
  }
}